[core]
  editor = vim
  autocrlf = false
  safecrlf = false
  excludesfile = ~/.gitignore
[push]
  default = simple
[color]
  ui = true
[alias]
  st = status -sb
  ci = commit
  cii = commit --amend
  cm = commit -m
  br = branch
  co = checkout
  co1 = checkout @{-1}
  df = diff
  lg = log
  ps = push
  pl = pull --rebase
  rb = rebase
  aa = add --all .
  au = add -u
  tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
  tr = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit -10
  tra = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --all
  fixup = commit --fixup
  sq = commit --allow-empty --squash
  ri = rebase --interactive --autosquash
  serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
[merge]
  tool = vimdiff
  conflictstyle = diff3
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[include]
  path = .gitconfiglocal
[status]
	showUntrackedFiles = all
[init]
	templatedir = ~/.git_template
