[core]
  editor = nvim
  autocrlf = false
  safecrlf = false
  excludesfile = ~/.gitignore
  pager = less -r
[push]
  default = simple
  autoSetupRemote = true
[fetch]
  prune = true
  pruneTags = true
  all = true
[pull]
  rebase = true
[branch]
  sort = -committerdate
[tag]
  sort = version:refname
[color]
  ui = true
[column]
  ui = auto
[alias]
  st = status -sb
  ci = commit
  cm = commit -m
  br = branch
  co = checkout
  df = diff
  dt = difftool
  pl = pull
  aa = add --all .
  ri = rebase --interactive --autosquash
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[mergetool]
  keepBackup = false
  prompt = false
[mergetool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\""
[diff]
  tool = nvimdiff
  mnemonicPrefix = true
  renames = true
[difftool]
  prompt = false
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[status]
	showUntrackedFiles = all
[init]
	defaultBranch = master
[help]
  autocorrect = prompt
[gui]
  fontui = -family sans-serif -size 12 -weight normal -slant roman -underline 0 -overstrike 0
  fontdiff = -family sans-serif -size 12 -weight normal -slant roman -underline 0 -overstrike 0
