" search options
set hlsearch            " highlight search results
set ignorecase          " case-insensitive search, see next one
set smartcase           " consider case if search starts with Uppercase
set incsearch           " show mathes while typing
" line numbers
set number              " show line numbers
set relativenumber      " or actually relative numbers on all lines except current
" other
set scrolloff=3         " make some context visible
set timeoutlen=250      " Esc faster
set clipboard^=unnamed,unnamedplus " copy to clipboard
set showmode            " show current mode on status line
set undolevels=1000     " remember 1000 edits

" activated extensions
set surround

" mappings
map ; :
map <F3>  :action RecentFiles<CR>
map <F9>  :action FindUsages<CR>
map <F10> :action SelectInProjectView<CR>
map /b    :action CloseActiveTab<CR>
map [b    :action PreviousTab<CR>
map ]b    :action NextTab<CR>
map g;    :action JumpToLastChange<CR>
map =     :action ReformatCode<CR>
map Q @q
