snippet mod "Module" b
module ${1:`!v expand('%:t:r')`}
  ( $2
  ) where


$0
endsnippet

snippet fn "Function" b
$1 :: $2
$1 $0
endsnippet

snippet tmod "HUnit Test Module" b
module ${1:`!v expand('%:t:r')`}
  ( ${1/(.)(.*)/\l$1$2/}
  ) where


import Test.HUnit


$0


${1/(.)(.*)/\l$1$2/} = TestList []
endsnippet

snippet test "HUnit Test Case" b
test$1 :: Test
test$1 = TestCase $ do
  $2
endsnippet
